<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main class="admin-login__main">
        <form method="POST" action="/login" class="admin-login__form">
            <div class="admin-login__form__title">
                <h1>Admin login</h1>
            </div>
            <div class="admin-login__form__item">
                <div>
                    <label for="email">email:</label>
                </div>
                <div>
                    <input type="email" name="email" required class="admin-login__form__input email_input">
                </div>
            </div>
            <div class="admin-login__form__item">
                <div>
                    <label for="password">Wachtwoord:</label>
                </div>
                <div>
                    <input type="password" name="password" required class="admin-login__form__input password_input">
                </div>
            </div>
            <div>
                <button class="admin-login__form__password__button" type="submit">Login</button>
            </div>
        </form>

    </main>
</body>

</html>