<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | Boudewijn Seapark</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">

</head>

<body>
    <video autoplay muted loop class="video">
        <source src="/videos/background-video.mp4" type="video/mp4">
    </video>

    <video autoplay muted loop class="phone-video">
        <source src="/videos/phone-background.mp4" type="video/mp4">
    </video>
    <main class="index__container">
        <div class="setup-container">
            <div class="setup-container__top">
                <h1>Boudewijn Seapark Quiz</h1>
                <p>Selecteer uw taal | Choissisez votre langue | Choose your language</p>
            </div>
            <div class="setup-container__bottom">
                <div class="language-option" id="nl">
                    <a href="index.html"><button class="language-btn language-selected">NL | Nederlands</button></a>
                </div>
                <div class="language-option" id="fr">
                    <a href="index-french.html"><button class="language-btn">FR | Français</button></a>
                </div>
                <div class="language-option" id="en">
                    <a href="index-english.html"><button class="language-btn">GB | English</button></a>
                </div>
            </div>
            <div class="btm-text">
                <p>Ontmoet. Heb lief. Bescherm</p>
            </div>
        </div>

        <div class="user-list-container">
            <h2>Gebruikerslijst:</h2>
            <ul id="user-list"></ul>
        </div>


        <div class="registration-container">
            <div class="registration__top">
                <h1>Vandaag ontmoet je de dolfijnen!</h1>
                <p>Beantwoord onze vragen en ontdek meer over deze bijzondere dieren!</p>
            </div>


            <div>
                <form class="registration registration-form">
                    <div class="registration__name">
                        <p>Je naam:</p>
                        <input name="name" id="name" class="registration__name__input" type="text" required
                            placeholder="type hier je naam">
                    </div>
                    <p>Je geboortedatum:</p>
                    <div class="registration__date__input">

                        <select id="day-select" name="day" required>
                            <option value="">Dag</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>

                        <label for="month-select"></label>
                        <select id="month-select" name="month" required>
                            <option value="">Maand</option>
                            <option value="1">januari</option>
                            <option value="2">februari</option>
                            <option value="3">Maart</option>
                            <option value="4">april</option>
                            <option value="5">mei</option>
                            <option value="6">juni</option>
                            <option value="7">juli</option>
                            <option value="8">augustus</option>
                            <option value="9">september</option>
                            <option value="10">oktober</option>
                            <option value="11">november</option>
                            <option value="12">december</option>
                        </select>

                        <label for="year-select"></label>
                        <select id="year-select" name="year" required>
                            <option value="jaar">Jaar</option>
                        </select>
                    </div>
                    <input type="hidden" name="language" value="nl" />
                    <div class="submit__input__container">
                        <input type="submit" value="Doorgaan" class="registration-submit__btn" />
                    </div>
                </form>

            </div>

        </div>

        </div>

    </main>


    <script type="module" src="/scripts/dateSelector.js"></script>
    <script type="module" src="/scripts/rating.js"></script>
    <script type="module" src="/scripts/user.js"></script>
</body>

</html>