<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | Boudewijn Seapark</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <video autoplay muted loop>
        <source src="/videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="setup-container">
        <div class="setup-container__top">
            <h1>Boudewijn Seapark Quiz</h1>
            <p>Selecteer uw taal | Choissisez votre langue | Choose your language</p>
        </div>
        <div class="setup-container__bottom">
            <div class="language-option" id="nl">
                <a href="/views/index.html"><button class="language-btn">NL | Nederlands</button></a>
            </div>
            <div class="language-option" id="fr">
                <a href="/views/index-french.html"><button class="language-btn">FR | Français</button></a>
            </div>
            <div class="language-option" id="en">
                <a href="/views/index-english.html"><button class="language-btn">GB | English</button></a>
            </div>
        </div>
        <div class="btm-text">
            <p>Rencontrer. Amour. Protéger</p>
        </div>
    </div>
    <div class="registration-container">
        <div class="registration__top">
            <h1>Aujourd'hui, vous rencontrerez les dauphins !</h1>
            <p>Répondez à nos questions et apprenez-en plus sur ces animaux spéciaux !</p>
        </div>

        <div class="registration">
            <p>Votre date de naissance :</p>
            <div class="registration-form">
                <form action="/your-submit-script" method="get">
                    <select id="day-select" name="day">
                        <option value="">Jour</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>

                    <label for="month-select"></label>
                    <select id="month-select" name="month">
                        <option value="">mois</option>
                        <option value="1">Janvier</option>
                        <option value="2">Février</option>
                        <option value="3">Mars</option>
                        <option value="4">Avril</option>
                        <option value="5">Mai</option>
                        <option value="6">Juin</option>
                        <option value="7">Juillet</option>
                        <option value="8">Août</option>
                        <option value="9">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                    </select>

                    <label for="year-select"></label>
                    <select id="year-select" name="year">
                        <option value="jaar">Année</option>
                    </select>
                    <input type="submit" value="Continuer" class="registration-submit__btn" />
                </form>
            </div>

        </div>

    </div>
    <div class="quiz-container">
        <div class="quiz-question-container">
            <div class="question-top">
                <p>1/5</p>
                <p id="timer">30</p>
            </div>
            <div class="quiz-question">
                <p>Que savez-vous des oreilles d’un dauphin ?</p>
            </div>
            <div class="question-img">
                <img src="/images/dolphin-ear.jpg" alt="">
            </div>
            <div class="question-answers">
                <div class="answers-left">
                    <div class="answer-option">
                        <button class="question-answer">Un dauphin n'a pas d'oreilles.</button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Un dauphin a des oreilles mais pas d’oreillettes
                            externes.</button>
                    </div>
                </div>
                <div class="answers-right">
                    <div class="answer-option">
                        <button class="question-answer">Un dauphin a des oreilles et des oreillettes externes.</button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Je ne sais rien à ce sujet.</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="quiz-question-container">
            <div class="question-top">
                <p>2/5</p>
                <p id="timer">30</p>
            </div>
            <div class="quiz-question">
                <p>Qu'est-ce que le sonar ?</p>
            </div>
            <div class="question-img">
                <img src="/images/sonar.jpg" alt="">
            </div>
            <div class="question-answers">
                <div class="answers-left">
                    <div class="answer-option">
                        <button class="question-answer">Ils peuvent capter les rayons lumineux avec une grande
                            sensibilité, ce qui leur permet de très bien voir dans l'eau sombre.</button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Certaines fréquences dans les ondes sonores sont entendues que
                            les humains ne peuvent pas entendre.</button>
                    </div>
                </div>
                <div class="answers-right">
                    <div class="answer-option">
                        <button class="question-answer">Émission de sons qui rebondissent sur la proie et reviennent,
                            permettant au dauphin de voir sans bruit. </button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Je ne sais pas ça.</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="quiz-question-container">
            <div class="question-top">
                <p>3/5</p>
                <p id="timer">30</p>
            </div>
            <div class="quiz-question">
                <p>Le dauphin est-il un animal solitaire ?</p>
            </div>
            <div class="question-img">
                <img src="/images/dolfijn3.jpg" alt="">
            </div>
            <div class="question-answers">
                <div class="answers-left">
                    <div class="answer-option">
                        <button class="question-answer">Oui, elle aime être seule.</button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Elle préfère être dans un petit groupe.</button>
                    </div>
                </div>
                <div class="answers-right">
                    <div class="answer-option">
                        <button class="question-answer">Non, elle vit en groupe.</button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Je ne sais pas ça.</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="quiz-question-container">
            <div class="question-top">
                <p>4/5</p>
                <p id="timer">30</p>
            </div>
            <div class="quiz-question">
                <p>Y a-t-il des os dans les nageoires d’un dauphin ?</p>
            </div>
            <div class="question-img">
                <img src="/images/dolfijn4.jpg" alt="">
            </div>
            <div class="question-answers">
                <div class="answers-left">
                    <div class="answer-option">
                        <button class="question-answer">Oui, dans les nageoires pectorales et caudales.</button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Uniquement dans la nageoire caudale.</button>
                    </div>
                </div>
                <div class="answers-right">
                    <div class="answer-option">
                        <button class="question-answer">Uniquement dans la nageoire dorsale.</button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Uniquement dans les nageoires pectorales.</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="quiz-question-container">
            <div class="question-top">
                <p>5/5</p>
                <p id="timer">30</p>
            </div>
            <div class="quiz-question">
                <p>Comment savoir si le dauphin est un mâle ou une femelle ?</p>
            </div>
            <div class="question-img">
                <img src="/images/dolfijn5.jpg" alt="">
            </div>
            <div class="question-answers">
                <div class="answers-left">
                    <div class="answer-option">
                        <button class="question-answer">Les mâles ont des nageoires plus longues et plus gracieuses que
                            les femelles.
                        </button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Les mâles ont une couleur plus foncée que les femelles.
                        </button>
                    </div>
                </div>
                <div class="answers-right">
                    <div class="answer-option">
                        <button class="question-answer">Les mâles ont 2 fentes sur leur abdomen, les femelles seulement
                            1.
                        </button>
                    </div>
                    <div class="answer-option">
                        <button class="question-answer">Les mâles ont une fente sur leur abdomen, les femelles en ont
                            deux.
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rating-container">
        <div class="rating-question">
            <h3>Avez-vous trouvé le quiz informatif ?</h3>
            <div class="stars" data-question="1">
                <span class="star" data-value="1">★</span>
                <span class="star" data-value="2">★</span>
                <span class="star" data-value="3">★</span>
                <span class="star" data-value="4">★</span>
                <span class="star" data-value="5">★</span>
            </div>
        </div>

        <div class="rating-question">
            <h3>Les questions étaient-elles claires ?</h3>
            <div class="stars" data-question="2">
                <span class="star" data-value="1">★</span>
                <span class="star" data-value="2">★</span>
                <span class="star" data-value="3">★</span>
                <span class="star" data-value="4">★</span>
                <span class="star" data-value="5">★</span>
            </div>
        </div>
        <div class="rating-question">
            <h3>Avez-vous eu assez de temps ?</h3>
            <div class="stars" data-question="3">
                <span class="star" data-value="1">★</span>
                <span class="star" data-value="2">★</span>
                <span class="star" data-value="3">★</span>
                <span class="star" data-value="4">★</span>
                <span class="star" data-value="5">★</span>
            </div>
        </div>
        <div class="rating-question">
            <h3>Comment s'est déroulée votre expérience globale ?</h3>
            <div class="stars" data-question="4">
                <span class="star" data-value="1">★</span>
                <span class="star" data-value="2">★</span>
                <span class="star" data-value="3">★</span>
                <span class="star" data-value="4">★</span>
                <span class="star" data-value="5">★</span>
            </div>
        </div>
    </div>

    <script src="/scripts/main.js"></script>
    <script src="/scripts/dateSelector.js"></script>
    <script src="/scripts/rating.js"></script>
</body>

</html>