<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/quiz-editor.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="editor-header">
        <nav class="editor-nav">
            <a href="admin.html" class="first-link">Admin panel</a>
            <img src="images/Vector.svg" alt="">
            <a href="quiz-editor.html" class="second-link">Quiz editor</a>
        </nav>
    </header>

    <section class="editor-section">
        <div class="new-title">
            <textarea type="text" placeholder="Typ hier iets..."></textarea>
        </div>
        <div class="new-image">
            <form action="">
                <input type="file" id="myFile" name="filename" accept="image/*">
            </form>
        </div>
        <div class="new-questions">
            <div class="new-question">
                <form action="">
                    <textarea type="text" placeholder="Antwoord 1"></textarea>
                </form>
            </div>
            <div class="new-question">
                <form action="">
                    <textarea type="text" placeholder="Antwoord 2"></textarea>
                </form>
            </div>
            <div class="new-question">
                <form action="">
                    <textarea type="text" placeholder="Antwoord 3"></textarea>
                </form>
            </div>
            <div class="new-question">
                <form action="">
                    <textarea type="text" placeholder="Antwoord 4"></textarea>
                </form>
            </div>
        </div>
    </section>
    <button class="add-btn">Voeg toe</button>
</body>

</html>