.admin_title {
  padding: 3rem;
  font-size: 1.5rem;

  & h1 {
    font-family: var(--h1-font-family);
  }
}

.admin_statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.admin_statistics_graphic_age {
  display: flex;
  align-items: baseline;
  position: relative;

  & h4 {
    transform: rotate(-90deg);
  }
}

.admin_statistics_graphic_age_title {
  position: absolute;
  top: 10rem;
  left: -5rem;
}

.admin_statistics_graphic_age_numbers {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.2rem;
}

.admin_statistics_graphic_score {
  display: flex;
  padding-left: 3rem;
  position: relative;
}

.admin_statistics_graphic_score_percentage {
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
}

.admin_statistics_graphic_score_title {
  position: absolute;
  left: 16rem;
  padding-top: 0.8rem;
}

.graphic_beam {
  height: 1rem;
  width: 0.5rem;
  border: 0.0625rem solid purple;
  background-color: purple;
  margin-left: 1.5rem;
}
