@import url("./reset.css");
@import url("./setup.css");
@import url("./quiz.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/dolphin-pattern.png");
}

:root {
  --color-primary: #f0f0f0;
  --color-secondary: #000000;
  --background-primary: #ffffff;
  --background-secondary: #000000;

  --h1-font-family: "Ancizar Serif", serif;
}
