/* .phone-video {
  visibility: hidden;
}
@media (max-width: 768px) {
  .video {
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
}
 */

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
