.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.registration select {
  width: 10rem;
  height: auto;
  background-color: #5ec4fc;
  border: solid 0.0625rem #4ea0cc;
  border-radius: 0.625rem;
  padding: 0.3125rem;
}

select::-webkit-scrollbar {
  display: none;
}

.registration p {
  text-align: center;
}

.registration-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.registration-submit__btn {
  background-color: #5ec4fc;
  border: solid 0.0625rem #4ea0cc;
  border-radius: 0.625rem;
  height: 1.926875rem;
  width: 30.5rem;
  cursor: pointer;

  &:hover {
    background-color: #4ea0cc;
  }
}

.registration__name {
  padding-left: 8.5rem;
}

.registration__name__input {
  background-color: #5ec4fc;
  border: solid 0.0625rem #4ea0cc;
  border-radius: 0.625rem;
  padding: 0.5rem 1rem;
}

.submit__input__container {
  padding-top: 1rem;
  align-self: center;
}
