
@media screen and (min-width: 23.4375rem) {
  body {
    min-width: 23.4375rem;
    min-height: 41.6875rem;

  }

  .video {
    visibility: none;
  }

  .phone-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }

  .setup-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 23.4375rem;
    padding: 0.0625rem;

  }

  .setup-container__top {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .registration-container {
    display: flex;
    width: 23.4375rem;
    padding: 1.25rem;
  }

  .registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .registration form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
<<<<<<< HEAD
    gap: 10px;
  }
  .registration__top {
    text-align: center;
    padding: 1px;
=======
    gap: 0.625rem;
  }
  .registration__top {
    text-align: center;
    padding: 0.0625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .registration__name {
    padding-left: 0;
  }
  .registration__name__input {
    width: fit-content;
  }

  .registration__date__input {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    gap: 10px;
=======
    gap: 0.625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    text-align: center;
  }

  .registration-submit__btn {
<<<<<<< HEAD
    width: 160px;
=======
    width: 10rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .setup-container__bottom {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }

<<<<<<< HEAD
  .quiz-container {
  }

=======
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  .quiz-question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    width: 375px;
=======
    width: 23.4375rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    height: fit-content;
    flex-wrap: nowrap;
  }

  .question-img img {
<<<<<<< HEAD
    padding: 10px;
    margin: 0;
    width: 300px;
=======
    padding: 0.625rem;
    margin: 0;
    width: 18.75rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .question-answers {
    display: flex;
<<<<<<< HEAD
    width: 375px;
=======
    width: 23.4375rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .question-answer {
<<<<<<< HEAD
    width: 340px;
=======
    width: 21.25rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    text-align: center;
  }

  .rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 100vh;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
  }
}

<<<<<<< HEAD
@media screen and (min-width: 1024px) and (min-height: 768px) {
  body {
    min-width: 1024px;
    min-height: 768px;
  }

=======
@media screen and (min-width: 64rem) {
  body {
    min-width: 64rem;
    min-height: 48rem;
  }

  .video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }

  .phone-video {
    visibility: none;
  }
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  .setup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    width: 1024px;
    padding: 1px;
=======
    width: 100%;
    padding: 0.0625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .setup-container__top {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .registration-container {
    display: flex;
<<<<<<< HEAD
    width: 1024px;
=======
    width: 100%;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .registration__top {
    text-align: center;
<<<<<<< HEAD
    padding: 1px;
=======
    padding: 0.0625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .registration-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .registration__name {
    padding-left: 0;
  }

  .registration__name__input {
    width: fit-content;
  }

  .registration__date__input {
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    gap: 10px;
=======
    gap: 0.625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    text-align: center;
  }

  .registration-submit__btn {
<<<<<<< HEAD
    width: 200px;
=======
    width: 12.5rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .setup-container__bottom {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
  }

  .quiz-question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    width: 768px;
=======
    width: 48rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    height: fit-content;
    flex-wrap: nowrap;
  }

  .question-img img {
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 0.625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    margin: auto;
    width: auto;
  }

  .question-answers {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
}

<<<<<<< HEAD
@media screen and (min-width: 1920px) and (min-height: 911px) {
  body {
    min-width: 1905px;
    min-height: 896px;
=======
@media screen and (min-width: 120rem) {
  body {
    min-width: 119.0625rem;
    min-height: 56rem;
  }

  .video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }

  .phone-video {
    visibility: none;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .setup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    width: 1905px;
=======
    width: 119.0625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .setup-container__top {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .registration-container {
    display: flex;
<<<<<<< HEAD
    width: 1905px;
=======
    width: 119.0625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .registration__top {
    text-align: center;
<<<<<<< HEAD
    padding: 1px;
=======
    padding: 0.0625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .registration-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .registration__name {
    padding-left: 0;
  }

  .registration__name__input {
    width: fit-content;
  }

  .registration__date__input {
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    gap: 10px;
=======
    gap: 0.625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    text-align: center;
  }

  .registration-submit__btn {
<<<<<<< HEAD
    width: 200px;
=======
    width: 12.5rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
  }

  .setup-container__bottom {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
  }

  .quiz-question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    width: 768px;
=======
    width: 48rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    height: fit-content;
    flex-wrap: nowrap;
  }

  .question-img img {
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 0.625rem;
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
    margin: auto;
    width: auto;
  }

  .question-answers {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 27b0cc1b1df0be75564416012377737dbf70b5ba
